{% import ':macros:avatar.html.twig' as avatar %}
{% extends '::base.html.twig' %}

{% block content %}

    <form action="{{ path('edit_profile') }}" method="POST" enctype="multipart/form-data" novalidate >

        <fieldset>     
            
            <legend>Edit your profile</legend>
            
            {{ form_errors(form) }}
            
            {{ form_label(form.avatar) }}
            {{ form_errors(form.avatar) }}
            {{ avatar.avatar(user) }}
            {{ form_widget(form.avatar) }}
            
            {{ form_row(form.bio) }}

            {{ form_rest(form) }}

            <input type="submit" value="Save" />
        </fieldset>
    </form>
{% endblock %}