{% import ':macros:avatar.html.twig' as avatar %}
{% extends '::base.html.twig' %}

{% block content %}

    <div id="profile">
        
        <div>        

            {% if app.user and user.username == app.user.username %}
                <a href="{{ path('edit_profile') }}">
                    Edit your profile
                    <i class="icon-user"></i>
                </a>
            {% endif %}

            <h2>
                {{ avatar.avatar(user) }}
                {{ user.username }}
            </h2>
            
            {% if user.bio is not null %}
            <p>
                {{ user.bio }}
            </p>
            {% endif %}

        </div>

        {% if messages is not empty %}
            <ul> 
                {% for message in messages %}
                    <li>
                        <div>
                            <span>
                                {{ message.createdAt | date("d M Y H:i") }}    
                            </span>
                           
                            {% if app.user and app.user.username == user.username %}
                                <a href="{{ path('delete_message', {'id': message.id }) }}">
                                    Delete
                                    <i class="icon-remove"></i>
                                </a>
                            {% endif %}
                        </div>
                        <q>
                            {{ message.message }}
                        </q>
                    </li>    
                {% endfor %}
            </ul>
        {% else %}
        <p>
            <strong>{{ user.username }}</strong> has not posted any message yet.
        </p>
        {% endif %}

    </div>
{% endblock %}